*, a, a:visited {
  color:yellow !important;
  background:blue !important;
}

#tabfloat, #primary  {
  background:transparent !important;
}

a {
  text-decoration:underline;
}

.block, #main {
  border: 4px solid yellow;
}

#logo {display:block;}
.site-name {display:block;}
.site-slogan {display:block;}
